<%- include("../partial/header.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="backg">
                <h6 class="card-subtitle mb-2 text-muted cardtext">Your Cart</h6>
                <% var total=0 %>
                    <div class="carddis row" style="margin: 3% 7%;  font-weight: bold;">
                        <div class="col-12 col-md-3">Product Name</div>
                        <div class="col-12 col-md-3">Quantity</div>
                        <div class="col-12 col-md-3">Product Price</div>
                        <div class="col-12 col-md-3">Final Price</div>
                    </div>
                    <%for (var result in data.products){%>
                        <div class=" row" style="margin: 2% 7%; ">
                            <div class="col-12 col-md-3">
                                <%= data.products[result].pname %>
                            </div>
                            <div class="col-12 col-md-3">
                                <%= data.products[result].quantity %>
                            </div>
                            <div class="col-12 col-md-3">
                                <%= data.products[result].pprice %>
                            </div>
                            <div class="col-12 col-md-3">
                                <%= data.products[result].pprice*data.products[result].quantity %>
                                    <% total=total+data.products[result].pprice*data.products[result].quantity %>
                            </div>
                        </div>
                        <% } %>
                            <div class="carddis row" style="margin: 2% 7%;font-weight: bold;">
                                <div class="col-12 col-md-3">Total:-</div>
                                <div class="col-12 col-md-3"></div>
                                <div class="col-12 col-md-3"></div>
                                <div class="col-12 col-md-3">
                                    <%= total %>/-
                                </div>
                            </div>

            </div>
        </div>
    </div>
    <%- include("../partial/footer.ejs") %>